@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sono:wght@200&display=swap');

:root
{
--bg-main:#131722;
--text-color:#fff;
--font-main:'Montserrat Alternates', sans-serif;
--light-main:#24baef;
--border-color:#a8a8a83d;
}
body
{
  font-family: var(--font-main);
  color:var(--text-color);
  background-color: var(--bg-main);
}
a ,a:hover
{
  text-decoration: none;
  color: var(--text-color);
}
.my-input
{
background-color: transparent ;
color: var(--text-color);
border: 1px solid var(--border-color);

}
.logout
{
  cursor: pointer;
}
.link-movieDetails{
  color: rgb(17, 103, 251);
  text-decoration: underline;
  transition: 0.5s;
}
.link-movieDetails:hover{
  color: white;
  text-decoration: none;
  
}
.page-item{
  cursor: pointer;
}
.spiner-movie{
  font-size: 3em;
}
.img-tv{
 cursor: pointer;
 transition: 1.5s;
 -webkit-transition: 1.5s;
 -moz-transition: 1.5s;
 -ms-transition: 1.5s;
 -o-transition: 1.5s;
}
.img-tv:hover{
  transform:translatey(-50px) ;
  -webkit-transform:translatey(-50px) ;
  -moz-transform:translatey(-50px) ;
  -ms-transform:translatey(-50px) ;
  -o-transform:translatey(-50px) ;
}
